{% extends "mainpage.html"  %}
{% block content %}
<html>
	<body>
		<p><input type="button" value="<-- Return Previous List" onClick= location.href="/matchesList" /></p>
		<h1>{{ title }}: {{match.day}} - {{match.numOfMatch}}</h1>
		 
			<li> Teams:
			{% for t in match.teams.all %}
				{{t.name}} <input type="button" value="+Details" onClick= location.href="/team/{{t.id}}/" />
			{% endfor %} 
 			</li>
			<li> Result: {{match.result}}</li>
			<li> Stadium: {{match.stadium.name}}			
			     <input type="button" value="+Details" onClick= location.href="/stadium/{{match.stadium.id}}/" /> </li>
			<li> Referee: {{match.referee.name}}
			     <input type="button" value="+Details" onClick= location.href="/referee/{{match.referee.id}}/" /> </li>		

	</body>
<html>
{% endblock %}
