<html>
	<head>
	<title>{{ title }}</title>
	</head>
	<body>
		<h1>{{ title }}: {{team.name}}</h1>
		 
			<li> Name: {{team.name}}</li>
			<li> Foundation Year: {{team.foundationYear}}</li>
			<li> Stadium: {{team.stadium.name}}<input type="button" value="+Details" onClick= location.href="/stadiumsList/{{team.stadium.id}}/" /> </li>
			<li> Coach: {{team.coach.name}}<input type="button" value="+Details" onClick= location.href="/coachsList/{{team.coach.id}}/" /> </li>
			<li> Players: </li>		
			<ul>{% for p in team.players.all %}
					<li>{{p.name}}<input type="button" value="+Details" onClick= location.href="/playersList/{{p.id}}/" /> </li>
				{% endfor %} 
			</ul>

	</body>
<html>
