<html>
	<head>
	<title>{{ titlehead}}</title>
	</head>
	<body>
		<h1>{{ pagetitle }}</h1>

	{% if user.username %}
	<p>Benvingut {{ user.username }}!
	</p>
	{% else %}
	<p>Benvingut anonim!!
	</p>
	{% endif %}
	
	<h2>List of Leagues:<h2>
	<ol> 	
	{% for l in leagues %}
	<li>
		{{l.name}}
	</li>
	{% endfor %}
	</ol>
	<br>

	<h2>List of Teams:<h2>
	<ol> 
	{% for t in teams %}
	<li>
		{{t.teamName}}
	</li>
	{% endfor %}
	</ol>
	<br>

	<h2>List of Players:<h2>
	<ol> 
	{% for p in players %}
	<li>
		{{p.playerName}}
	</li>
	{% endfor %}
	</ol>

	</body>
	</html>
