<html>
	<head>

	<title>{{ titlehead}}</title>
	</head>
	<body>
		<h1>{{ pagetitle }}</h1>

		<p>List of Leagues:
			<input type="button" value="Leagues List" onClick= location.href="/leagueslist/" />
		</p>

		<p>List of Teams:
			<input type="button" value="Teams List" onClick= location.href="/teamslist/" />
		</p>

		<p>List of Coachs:
			<input type="button" value="Coachs List" onClick= location.href="/coachslist/" />
		</p>

		<p>List of Players:
			<input type="button" value="Players List" onClick= location.href="/playerslist/" />
		</p>

		<p>List of Representatives:
			<input type="button" value="Representatives List" onClick= location.href="/representativeslist/" />
		</p>

		<p>List of Stadiums:
			<input type="button" value="Stadiums List" onClick= location.href="/stadiumslist/" />
		</p>

		<p>List of Referees:
			<input type="button" value="Referees List" onClick= location.href="/refereeslist/" />
		</p>


	</body>
	</html>
